{% if smartd_long_test_dow == "random" %}
{%   set smartd_long_test_dow_random = true %}
{% endif %}
{% if smartd_long_test_hour == "random" %}
{%   set smartd_long_test_hour_random = true %}
{% endif %}
{% if smartd_short_test_hour == "random" %}
{%   set smartd_short_test_hour_random = true %}
{% endif %}
{% for disk in disks.stdout_lines %}
{%   if smartd_long_test_dow_random %}
{%     set smartd_long_test_dow = range(1,8)|random %}
{%   endif %}
{%   if smartd_long_test_hour_random %}
{%     set smartd_long_test_hour = range(1,24)|random %}
{%     set smartd_long_test_hour = "{0:02d}".format(smartd_long_test_hour) %}
{%   endif %}
{%   if smartd_short_test_hour_random %}
{%     set smartd_short_test_hour = range(1,24)|random %}
{%     set smartd_short_test_hour = "{0:02d}".format(smartd_short_test_hour) %}
{%   endif %}
{{ disk }} -a -o on -S on -s (S/{{ smartd_short_test_month }}/{{ smartd_short_test_dom }}/{{ smartd_short_test_dow }}/{{ smartd_short_test_hour }}|L/{{ smartd_long_test_month }}/{{ smartd_long_test_dom }}/{{ smartd_long_test_dow }}/{{ smartd_long_test_hour }}) -m root
{% endfor %}
