{% for disk in disks.stdout_lines %}
{% if smartd.long_test_dow is not defined %}
{% set smartd.long_test_dow = range(1,8)|random %}
{% endif %}
{% if smartd.long_test_hour is not defined %}
{% set smartd.long_test_hour = range(1,24)|random %}
{% set smartd.long_test_hour = "{0:02d}".format(smartd.long_test_hour) %}
{% endif %}
{% if smartd.short_test_hour is not defined %}
{% set smartd.short_test_hour = range(1,24)|random %}
{% set smartd.short_test_hour = "{0:02d}".format(smartd.short_test_hour) %}
{% endif %}
{{ disk }} -a -o on -S on -s (S/{{ smartd.short_test_month }}/{{ smartd.short_test_dom }}/{{ smartd.short_test_dow }}/{{ smartd.short_test_hour }}|L/{{ smartd.long_test_month }}/{{ smartd.long_test_dom }}/{{ smartd.long_test_dow }}/{{ smartd.long_test_hour }}) -m root
{% endfor %}
